@import url('./styles.css');
@import url('swiper-bundle.min.css');
.popular__container{
    width: 875px;
    padding-top: 3rem;

  }
  .popular__card{
    width: 258px;
    border-radius: 1.15rem;
    margin-bottom: 5rem;
  }
  .popular__img{
    width: 180px;
    margin: .75rem 0 1.25rem 2rem;
  }